{% extends "base.html" %}

{% block title %}{{ data.name }} - ステージ選択{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('writing.static', filename='css/step_list.css') }}">
{% endblock %}

{% block header %}
    {# 受講者用共通パーツを読み込み #}
    {% include "header_stu.html" %}
{% endblock %}

{% block content %}
    <h1 class="title"> ＜ {{ data.name }} ＞ </h1>

    <label class="choice-message">学習したいステージを選択してください。</label>

    <table class="stageTable" id="stageTable">
        <thead>
        <tr>
            <th>ステージ</th>
            <th>フェーズ</th>
            <th>学習内容</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {# views.pyからのデータをループで表示 #}
        {% for step in data.steps %}
        <tr>
        <td>{{ step.no }}</td>
        <td>{{ step.phase }}</td>
        <td>{{ step.content }}</td>
        <td>
            <button type="button" class="start-button" 
                    onclick="location.href='{{ url_for('writing.step_learning', category_id=data.id, stage_no=step.no) }}'">
                スタート
            </button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <button type="button" class="btn-primary" onclick="location.href='{{ url_for('writing.index') }}'">
        学習トップへ戻る
    </button>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('writing.static', filename='js/step_list.js') }}"></script>
{% endblock %}