<!--課題別受講者一覧-->
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href=".css">
  <title>課題別受講者一覧</title>
</head>
<body>

<!--検索-->
<form id="searchbox">
  <input id="search" name="" type="text" size="40" placeholder="検索したいユーザの氏名を入力..." required>
  <button type="submit">検索</button>
</form><br>

<!-- 受講者テーブル -->
<!--FLASKで繰り替えし表示-->
<!--状況の部分は未提出、未添削、添削済み（返却済）にわける-->
<div id="studentsList">
  <h3>受講者一覧</h3>
  <table>
    <tr>
      <!--１行目-->
      <th>ID</th>
      <th>氏名</th>
      <th>状況</th>
      <th>添削開始</th>
    </tr>
    <tr>
      <!--２行目-->
      <td>{}</td>
      <td>{}</td>
      <td>{}</td>
      <td>
       <!--添削開始ボタン-->
       <button>
        <a href="correct_write.html">添削開始</a>
       </button>
      </td>
    </tr>
  </table>
</div>
  

<!--Javascriptの読み込み（必ずこの位置）-->
<script src=".js"></script> 
</body>
</html>