<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>ダッシュボード</title>
</head>
<body>
<h1>ダッシュボード</h1>

<div>
  <p>管理者ID：{{ admin_id }}</p> 
  <p>氏　　名：{{ admin_name }}</p>
  <p>所　　属：情報システム科</p>
</div>

<div>
  <h3>グループ</h3>
  <table>
    <tr>
      <th>グループ名</th>
      <th>人数</th>
    </tr>
    {% for group in group_data %}
    <tr>
      <td>{{ group.name }}</td>
      <td>{{ group.count }}人</td>
    </tr>
    {% endfor %}
  </table>
</div>

<div>
  <h3>課題管理</h3>
  <button type="button" class="btn-menmber">受講者一覧</button>
  
  <div>
    <label>累計課題配信件数</label>
    <p>{{ streamed_count }}件</p> </div>
  <div>
    <label>未添削課題件数</label>
    <p>{{ unchecked_count }}件</p> </div>

  <div>
    <label>課題提出管理</label>
    <br>
    <label>提出済み件数</label>
    <p>{{ submitted_count }}件</p>
    
    <label>未提出課題件数</label>
    <p>{{ unsubmitted_count }}件</p>
    
    <p>今週１件締切</p>
  </div>
</div>

<div>
  <h3>学習進捗</h3>
  <button type="button" class="btn-menmber">受講者一覧</button>
  <label>全体進捗率</label>
  <p>{{ progress_rate }}％</p>
</div>  

<script src="{{ url_for('static', filename='script.js') }}"></script> 
</body>
</html>