<!--配信済み課題一覧-->
<!--ｊｓで課題配信ないときのメッセージ表示-->
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href=".css">
  <title></title>
</head>
<body>
<h1>配信済課題一覧</h1>

<!--Flaskで繰り返し表示する用に変える必要-->
<a href="">
  <div class="grou_content">
    <label>配信日：＊月＊日</label>
    <!--グループ名、ここデータベースから持ってくる{}-->
    <p>タイトル名：＊＊＊＊</p><br>
    <p>配信者：＊＊＊＊</p>
    <p>提出期限：＊月＊日</p>
  </div>
</a>

<div>
  <button type="button" class="btn-back" onclick="backToList()">前のページ</button>
  <button type="button" class="btn-next" onclick="nextToList()">次のページ</button>
</div>
  

<!--Javascriptの読み込み（必ずこの位置）-->
<script src=".js"></script> 
</body>
</html>